@page "/search/"
@using ForumWars.Controllers

<div class="page-wrapper">
    <div class="content-wrapper">        
        <div class="search-box-wrapper">
            <span class="page-title">Search for topics or discussions</span>
            <div class="user-interaction-wrapper">
                <input class="text-input" type="text" placeholder="Type a hashtag or keyword🕸" @bind="@CurrentValue" @oninput="@((e) => { CurrentValue=(string)e.Value; HandleSearch(); })" />
                <input class="text-input" type="number" placeholder="UpVotes🔥" @bind="@UpVotes" @oninput="@((e) => { UpVotes=(string)e.Value; HandleSearch(); })" />
                <input class="text-input" type="date" placeholder="Initial Post Date" @bind="@initialDate" @oninput="@((e) => { HandleSearch(); })" />
                <input class="text-input" type="date" placeholder="Final Post Date" @bind="@finalDate" @oninput="@((e) => { HandleSearch(); })" />                
                <button class="input-btn" @onclick="@((e) => { HandleSearch(); })">Search</button>
            </div>
        </div>

        <div class="results-wrapper">
            <span class="page-title">Results</span>
            <div class="results-content">
                @if ((searchResult == null || searchResult.Count <= 0) && CurrentValue == "")
                {
                    <div class="spinner-wrapper">
                        <div class="spinner"></div>
                        <span>No results found.</span>
                    </div>
                }
                else
                {
                    <div class="items-wrapper">
                    @if (searchResult != null)
                    {
                        @foreach (ForumWars.Data.Topic topic in searchResult)
                        {
                            <div class="search-item">
                                <div class="item-info">
                                    <span class="item-title">@topic.Title - </span>
                                    <span class="item-hour">@topic.CreationDate.ToShortDateString()</span>                                
                                    <span class="item-upvotes">🔥@topic.UpVotes</span>      
                                </div>
                                <div class="discussion-topics">
                                    @if (topic.CommunityTopics != null)
                                    {
                                        @foreach (var item in topic.CommunityTopics)
                                        {
                                            <div class="topic">@item</div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private string CurrentValue { get; set; } = "";
    private string UpVotes { get; set; } = "";
    private DateTime initialDate { get; set; } = new DateTime();
    private DateTime finalDate { get; set; } = new DateTime();
    private ForumWars.Controllers.TopicsController cTopic = new TopicsController();
    private List<ForumWars.Data.Topic>? searchResult = new List<ForumWars.Data.Topic>();

    // public Search()
    // {
    //     searchResult = cTopic.GetTopicList(2).Result;
    // }

    private void HandleSearch()
    {
        if(CurrentValue.Length > 3 && initialDate != new DateTime() && finalDate != new DateTime() && UpVotes.Length > 0)
            searchResult = cTopic.SearchInTopicList(CurrentValue, int.Parse(UpVotes), initialDate, finalDate).Result;
        else if(CurrentValue.Length > 3 && UpVotes.Length > 0) 
            searchResult = cTopic.SearchInTopicList("", int.Parse(UpVotes), new DateTime(), new DateTime()).Result;       
        else if(UpVotes.Length > 0) 
            searchResult = cTopic.SearchInTopicList("", int.Parse(UpVotes), new DateTime(), new DateTime()).Result;
        else if(CurrentValue.Length > 3) 
            searchResult = cTopic.SearchInTopicList(CurrentValue, 0, new DateTime(), new DateTime()).Result;
        else if(initialDate != new DateTime() && finalDate != new DateTime()) 
            searchResult = cTopic.SearchInTopicList("", 0, initialDate, finalDate).Result;
        else
            searchResult = cTopic.GetTopicList().Result;
    }
}
