@page "/search/"
@using ForumWars.Controllers

<div class="page-wrapper">
    <div class="content-wrapper">        
        <div class="search-box-wrapper">
            <span class="page-title">Search for topics or discussions</span>
            <div class="user-interaction-wrapper">
                <input class="text-input" type="text" placeholder="Type a hashtag or keyword🕸" @bind="@CurrentValue" @oninput="@((e) => { CurrentValue=(string)e.Value; HandleSearch(); })" />
                <input class="text-input" type="number" placeholder="UpVotes🔥" />
                <input class="text-input" type="date" placeholder="Initial Post Date" />
                <input class="text-input" type="date" placeholder="Final Post Date" />                
                <button class="input-btn">Search</button>
            </div>
        </div>

        <div class="results-wrapper">
            <span class="page-title">Results</span>
            <div>
                @if ((searchResult == null || searchResult.Count <= 0) && CurrentValue == "")
                {
                    <div class="spinner-wrapper">
                        <div class="spinner"></div>
                    </div>
                }
                else
                {
                    @if (searchResult != null)
                    {
                        @foreach (ForumWars.Data.Topic topic in searchResult)
                        {
                            <div class="search-item">
                                <span class="item-hour">@DateTime.UtcNow.ToShortDateString()</span>
                                <span class="item-title">@topic.Title</span>
                                <div class="discussion-topics">
                                    @if (topic.CommunityTopics != null)
                                    {
                                        @foreach (var item in topic.CommunityTopics)
                                        {
                                            <div>@item</div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    private string CurrentValue { get; set; } = "";
    private ForumWars.Controllers.TopicsController cTopic = new TopicsController();
    private List<ForumWars.Data.Topic>? searchResult = new List<ForumWars.Data.Topic>();

    private void HandleSearch()
    {
        searchResult = cTopic.SearchInTopicList(CurrentValue).Result;
    }
}
