@page "/topic/{idTopic}"
@using ForumWars.Pages.Components

<div class="topic-page-wrapper">
    @if (topic == null && comments == null)
    {
        <div class="spinner-wrapper">
            <div class="spinner"></div>
        </div>
    }
    else
    {
        <div class="topic-wrapper">
            <div class="topic-title-wrapper">
                <div class="topic-id">#@idTopic</div>
                <div class="topic-title">- @topic.Title</div>                
                <div class="topics">
                    @if (topic.CommunityTopics == null)
                    {
                        <span>No Community Topics for this Discussion.</span>
                    }
                    else
                    {
                        @foreach (var item in topic.CommunityTopics)
                        {
                            <div class="topic-topics">@item</div>
                        }
                    }
                </div>
            </div>
            <div class="topic-creation-info">
                <span class="topic-author">@topic.Author</span>
                <span class="topic-creation-date">@topic.CreationDate.ToShortDateString()</span>
            </div>
            <p class="topic-text">@topic.TopicText</p>
        </div>

        <div class="comment-section">
            <span class="comments-section-title">Comments Section</span>
            <div class="user-comment-section-wrapper">
                <input class="user-comment" type="text" placeholder="Leave a comment on this topic.👻" />
                <button class="send-comment-btn" onclick="">Send Comment</button>
            </div>

            <div class="comments-wrapper">
                @foreach (var item in comments)
                {
                    <TopicComment UserCommentProps=item></TopicComment>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string idTopic { get; set; }

    public Topic(string idTopic)
    {
        this.idTopic = idTopic;
    }

    public ForumWars.Data.Topic? topic;
    public List<ForumWars.Data.Comment>? comments;

    protected override void OnInitialized()
    {
        topic = new ForumWars.Controllers.TopicsController().GetTopic(int.Parse(idTopic)).Result;
        comments = new ForumWars.Controllers.TopicsController().GetTopicComments(int.Parse(idTopic)).Result;
    }
}